[Desktop Entry]
Name=PLGazoz HMI
Comment=Palandöken Gazoz Otomasyon Sistemi
Exec=bash /run/media/bielteknik/SDD250/ejderProjects/PLGazoz/start_hmi.sh
Icon=system-run
Terminal=true
Type=Application
Categories=Utility;Development;
Path=/run/media/bielteknik/SDD250/ejderProjects/PLGazoz
