[Desktop Entry]
Name=PLGazoz HMI
Comment=Palandöken Gazoz Otomasyon Sistemi
Exec=bash /home/bielteknik/PLGazozNew/start_hmi.sh
Icon=system-run
Terminal=true
Type=Application
Categories=Utility;Development;
Path=/home/bielteknik/PLGazozNew
